extends ../layout

block body
  .container
    //- 管理艺术品纸纹
    .row
      .col-md-12
        a(href="/admin").btn.btn-primary
          i.glyphicon.glyphicon-arrow-left &nbsp;
          | 返回控制台
        | &nbsp;
        block buttons
    br
    block content