body {
  font-size: 14px;
}
ul,
ol,
li {
  padding: none;
}
.clearfix::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both;
}
.hoverEffect {
  transition: all 0.3s ease;
}
.floatleft {
  display: inline-block;
  float: left;
}
.floatright {
  display: inline-block;
  float: right;
}
#topbar {
  height: 2em;
  line-height: 2em;
  background-color: #e6e6e6;
}
#topbar a.item {
  display: inline-block;
  text-decoration: none;
  padding: 0 1em;
  transition: all 0.3s ease;
}
#topbar a.item:hover {
  background-color: #337ab7;
  color: white;
}
#topbar::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both;
}
#logoFrame .logo {
  width: 428px;
  height: 67px;
  display: block;
  margin: 0 auto;
  background-color: #CCC;
  background-image: url('../../assets/images/avatar.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
#returnBtn {
  margin-top: 1em;
}
#search {
  margin-top: 3em;
}
#actions {
  margin-top: 3em;
}
#agents #agentList th,
#agents #agentList td {
  text-align: center;
  padding: 0 .5em;
}
#certCertee .progressing .leading,
#certUpload .progressing .leading {
  display: inline-block;
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6em;
  text-align: center;
  border-radius: 50%;
  border-width: 1px;
  color: white;
  background-color: grey;
  margin-right: .5em;
}
#certCertee .progressing .process-done .leading,
#certUpload .progressing .process-done .leading {
  background-color: #337ab7;
}
#certCertee .progressing .process-done .content,
#certUpload .progressing .process-done .content {
  color: #337ab7;
}
#certCertee .progressing .process-undergoing .leading,
#certUpload .progressing .process-undergoing .leading {
  background-color: #3d773e;
}
#certCertee .progressing .process-undergoing .content,
#certUpload .progressing .process-undergoing .content {
  color: #3d773e;
}
#certCertee .content .previewable canvas,
#certUpload .content .previewable canvas {
  box-shadow: 0 0 1px 1px #337ab7;
  height: 260px;
  width: 260px;
}
#certCertee .groups canvas,
#certUpload .groups canvas {
  box-shadow: 0 0 1px 1px #337ab7;
  width: 100px;
  height: 100px;
}
#certSearch #results th,
#certSearch #results td {
  text-align: center;
  padding: 0 .5em;
}
