extends ../layout
include ../utils/mixins

block body
  #verify.container
    form.form-horizontal(action="/verify/compare/pre", method="POST",  enctype="multipart/form-data")
      input(type="hidden" name="_csrf" value=csrfToken)
      input(type="hidden" name="iid" value=identify_id)
      .row
        hr
        ul
          li 红色标签项为必填项
        hr
      .row
        .col-md-4.col-md-offset-4
          h3.text-center 申请者资料
          +field('姓名', 'name', 'text', 'name', 'name', 'essential')
          +field('手机号', 'tel', 'text', 'tel', 'tel', 'essential')
          +field('身份证号', 'idno', 'text', 'idno', 'idno', 'essential')
          +fileField('认证附件', 'attachments', 'file', 'attachments', 'attachments', 'essential')
          +fileField('与作品合影', 'photos', 'file', 'photos', 'photos', 'essential')

          //- h3.text-center 上传对比纸纹图
          //- +fileField('纸纹图(可选择多张)', 'magnifyviews', 'file', 'magnifyviews', 'magnifyviews', '', 'multiple')
      .row
        .col-md-4.col-md-offset-4
          button#submit.btn.btn-primary.col-xs-12(type="submit") 下一步


