body {
  font-size: 14px;
}
ul,
ol,
li {
  padding: none;
}
div {
  text-overflow: ellipsis;
}
.clearfix::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both;
}
.hoverEffect {
  transition: all 0.3s ease;
}
.floatleft {
  display: inline-block;
  float: left;
}
.floatright {
  display: inline-block;
  float: right;
}
#topbar {
  height: 2em;
  line-height: 2em;
  background-color: #e6e6e6;
}
#topbar a.item {
  display: inline-block;
  text-decoration: none;
  padding: 0 1em;
  transition: all 0.3s ease;
}
#topbar a.item:hover {
  background-color: #337ab7;
  color: white;
}
#topbar::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both;
}
#logoFrame .logo {
  height: 100px;
  display: block;
  margin: 0 auto;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
#returnBtn {
  margin-top: 1em;
}
#search {
  margin-top: 3em;
}
#actions {
  margin-top: 3em;
}
#agents #agentList th,
#agents #agentList td {
  text-align: center;
  padding: 0 .5em;
}
#identify .processing {
  list-style: none;
}
#identify .processing li {
  display: inline-block;
}
#identify .processing .leading {
  display: inline-block;
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6em;
  text-align: center;
  border-radius: 50%;
  border-width: 1px;
  color: white;
  background-color: grey;
  margin-right: .5em;
}
#identify .processing .done .leading {
  background-color: #337ab7;
}
#identify .processing .done .content {
  color: #337ab7;
}
#identify .processing .undergoing .leading {
  background-color: #3d773e;
}
#identify .processing .undergoing .content {
  color: #3d773e;
}
#certSearch #results th,
#certSearch #results td {
  text-align: center;
  padding: 0 .5em;
}
